@model BDMPro.Models.SystemRoleListing
@using BDMPro.Models;
@using BDMPro.Resources
@using BDMPro.CustomHelper
@inject Util util;
@{
    ViewBag.Module = Resource.Role;
    ViewBag.Title = ViewBag.Module + " "+ Resource.Management;
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
    ViewBag.TableIdPrefix = "role";
    CurrentUserPermission permission = User.Identity.IsAllowed(ProjectEnum.ModuleCode.RoleManagement.ToString(),util);
    List<SelectListItem> pageSizeDropDownList = RoleListConfig.PageSizeDropDownList;
    string defaultPageSizeText = pageSizeDropDownList.Where(a => a.Selected == true).Select(a => a.Text).FirstOrDefault();
    string defaultPageSizeValue = pageSizeDropDownList.Where(a => a.Selected == true).Select(a => a.Value).FirstOrDefault();
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="pagetitle mb-sm-0 fw600">@ViewBag.Title</h4>
        </div>
    </div>
</div>

<section class="section dashboard mt-3">
    <div class="bg-white rounded p-3 shadow position-relative w-100 h-100">
        <div class="pb-2">
            @if (permission.AddRight)
            {
                <a class="btn form-btn btn-primary hover-boxshadow hover-moveup" href="@Url.Action("edit")"><i class="fa-solid fa-plus pe-1"></i> @Resource.AddNewRecord</a>
            }
            <span onclick="exportToExcel('@ViewBag.TableIdPrefix', '@Resource.TableIsStillLoading')" data-bs-toggle="tooltip" data-bs-placement="right" title="@Resource.ExportToExcelNote" class="btn form-btn btn-secondary hover-boxshadow cursor-pointer hover-moveup"><i class="fa-solid fa-file-excel pe-1"></i> @Resource.ExporttoExcel</span>
            <span onclick="exportToPdf('@ViewBag.TableIdPrefix', '@Resource.TableIsStillLoading')" data-bs-toggle="tooltip" data-bs-placement="right" title="@Resource.ExportToPDFNote" class="btn form-btn btn-secondary hover-boxshadow cursor-pointer hover-moveup"><i class="fa-solid fa-file-pdf pe-1"></i> @Resource.ExporttoPdf</span>
        </div>
        <div class="spinner-container d-none">
            <div class="spinner d-flex justify-content-center align-items-center text-center color-primarycolor py-5">
                <div class="py-3">
                    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div><strong> &nbsp; @Resource.Loading </strong>
                </div>
            </div>
        </div>
        <div id="@ViewBag.TableIdPrefix-searchfilter">
            <div class="row justify-content-between align-items-end gx-1 pb-1">
                <div class="col-sm-7 col-xl-3">
                    @CustomHelper.CustomDropDown("PageSizeDropDownList", pageSizeDropDownList, false, "onChangeTableLength", defaultPageSizeText , defaultPageSizeValue)
                </div>
                <div class="col-xl-3">
                </div>
                <div class="col-xl-6 pt-2 pt-sm-0">
                    <div id="searchinput">
                        <div class="input-group flex-nowrap">
                            <input type="text" id="search" name="search" class="form-control" placeholder="@Resource.Search" />
                            <a class="input-group-text bg-transparent hover-bg-primarycolor hover-color-white cursor-pointer"
                               id="searchbtn"
                               onclick="refreshTable()"><i class="fa-solid fa-magnifying-glass pe-1"></i> @Resource.Search</a>
                            <a class="input-group-text bg-transparent hover-bg-primarycolor hover-color-white cursor-pointer" onclick="onResetButtonClicked()"><i class="fa-solid fa-rotate-left pe-1"></i> @Resource.Reset</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="@ViewBag.TableIdPrefix-mainwrapper">
            <!-- display a dummy empty table while loading the data -->
            <div class="table-responsive mb-5">
                <table class="table table-hover align-middle mb-0">
                    <thead class="table-light">
                        <tr><th class="thead"></th></tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="py-4"></div>
            <div class="dummyfooter row justify-content-between mt-5">
                <div class="col-md-6">@Resource.Showing0Entries</div>
                <div class="col-md-6 text-end">@Resource.Page0OfPage0</div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        var tableIdPrefix = "@ViewBag.TableIdPrefix";
        var fileName = "@Resource.UserAttachment"; //the file name for excel and pdf file (Export to excel, pdf feature)

        var canView = "@permission.ViewRight";
        var canAdd = "@permission.AddRight";
        var canEdit = "@permission.EditRight";
        var canDelete = "@permission.DeleteRight";

        var loadTableUrl = getLoadTableUrl(tableIdPrefix);
        var tableSearchFilter = getDefaultTableSearchFilter();

        function getLoadTableUrl(tableIdPrefix) {
            if (tableIdPrefix == "@ViewBag.TableIdPrefix") {
                return "@Url.Action("GetPartialViewRole", "Role")";
            }
            // if this page contains other tables, add load table value URL configuration here
        }

        function getDefaultTableSearchFilter() {
            return {
                //all tables
                sort: "",
                size: "",
                search: "",
                pg: ""
            };
        }

        initDropdownlist();
        $(".spinner-container").removeClass("d-none");
        loadData(loadTableUrl, tableSearchFilter, tableIdPrefix);

        function onResetButtonClicked() {
            tableSearchFilter = getDefaultTableSearchFilter();
            resetTable(tableIdPrefix);
            loadData(loadTableUrl, tableSearchFilter, tableIdPrefix);
        }

        function refreshTable() {
            $(".spinner-container").removeClass("d-none");
            var searchinput = document.querySelector(`#${tableIdPrefix}-searchfilter input[name="search"]`);
            if (searchinput != null) {
                if (searchinput.value == null || searchinput.value == "") {
                    tableSearchFilter.search = "";
                } else {
                    tableSearchFilter.search = searchinput.value;
                }
            }
            loadData(loadTableUrl, tableSearchFilter, tableIdPrefix);
        }

        function onChangeTableLength(element) {
            tableSearchFilter.size = $(element).attr('data-value');
            refreshTable();
        }

        function changePage(targetPage) {
            tableSearchFilter.pg = targetPage;
            refreshTable();
        }

        function sortTable(order) {
            tableSearchFilter.sort = order;
            refreshTable();
        }

    </script>
}
