@model List<BDMPro.Models.SupplierViewModel>
@using BDMPro.CustomHelper
@using BDMPro.Resources
@{
    string sort = ViewData["CurrentSort"].ToString();
    int calculatedFrom = (Model.Count - 1) * Model.Count + 1;
    int calculatedTo = (Model.Count - 1) * Model.Count + Model.Count;
    int displayFrom = Model.Count == 0 ? 0 : calculatedFrom;
    int displayTo = (calculatedTo) > Model.Count ? Model.Count : (calculatedTo);
    string lockedColumnWidth = "100px";
}
<div id="supplier-table-wrapper">
    <div class="table-responsive overflow-auto">
        <table id="supplier-table" class="table table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th>Supplier ID</th>
                    <th>Supplier Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td class="text-center" colspan="5">@Resource.NoDataAvailable</td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr onclick="openHintToast('@Html.Raw(item.SupplierName.Replace("'", "\\&#39;").Replace("\"", "\\&#34;"))')">
                            <td>@item.SupplierId</td>
                            <td>@item.SupplierName</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.Address</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>